@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 /* Navbar container */
 :root{
    --dark-blue:#0c8aa0;
    --light-grey:#f8f9fa;
    --blue:#007bff;
    --black:#333;
 }
 .navbar {
    background-color: var(--light-grey);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar brand */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
    text-decoration: none;
}

/* Navbar links */
.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-nav li a {
    color:var(--black) ;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 18px;
}

.navbar-nav li a:hover {
    color: var(--dark-blue);
}

/* Active link */
.nav-item.active a {
    font-weight: 600;
}
.span-number{
    background-color: var(--dark-blue);
    padding: 1px 4px;
    color: var(--light-grey);
    font-size: 10px;
    border-radius: 5px;
}
.nav-item .navbar-login,.nav-item .navbar-register{
    background-color: var(--dark-blue);
    color:var(--light-grey);
    padding: 9px;
    border-radius: 5px;
}
.nav-item .navbar-login:hover,.nav-item .navbar-register:hover{
    color: var(--light-grey);
}
.nav-link a {
    background-color: var(--dark-blue);
    padding: 9px;
    border-radius: 5px;
}
.nav-link .navbar-logout {
    color: var(--light-grey);
}
.nav-link .navbar-logout:hover{
    color: var(--light-grey);
}
.container{
    padding: 18px;
    min-height: 100vh;
}
.site-footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 50px;

}

.about-contact-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.about-contact-container a{
    text-decoration: none;
}
.about-contact-container h4 span{
    color: var(--black);
    font-weight: 400;
}

.about-contact-container h3,
.social-container h3 {
    color: var(--dark-blue);
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    text-decoration: none;
    color: #555;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    background-color: #ddd;
}

@media only screen and (max-width:760px){
    .container-fluid{
        gap: 18px;
        align-items: start;
        display: grid;
        grid-template-rows: 1fr;
    }
    .navbar-brand{
        grid-row: 1;
    }
    .navbar-toggler{
        grid-row: 1;
        margin-top: 5px;
        font-size: 18px;
    }
    .navbar-toggler-icon{
        display: flex;
        align-items: center;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin: 0 0 18px 0;
    }
}